
/*Nav bar go horizontal*/
body {
    margin: 0;
    padding: 0;
    background: rgb(71, 70, 71);
}

.nav ul {
    list-style: none;
    background-color: rgb(71, 70, 71);
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid rgb(157, 162, 171);
}

.nav a {
    text-decoration: none;
    color: rgb(157, 162, 171);
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: rgb(120, 255, 214);
}

.nav a.active {
    background-color: rgb(157, 162, 171);
    color: rgb(71, 70, 71);
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }

    .nav li {
        display: inline-block;
        margin-right: -4px;
    }
}

/*img*/
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    background-color: rgb(102, 16, 242);
}


/*font*/
@font-face{
    font-family: Salvar;
    src: url(SalvarRegular-gxwoP.ttf);
}
@font-face{
    font-family: Modern;
    src: url(Random14-WyWwG.otf);
}
@font-face{
    font-family: AstroSpace;
    src: url(AstroSpace-eZ2Bg.ttf);
}

/*col*/
.col-1-2{
    width: 50%;
    float: left;
}
.content::after{
    content: "";
    display: table;
    clear: both;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*button*/
button {
    margin: 0 auto;
    display: block;
}
button{
    background-color:  rgb(157, 162, 171);
    border: none;
    color: rgb(71, 70, 71);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

/*Background color*/
section.blank{
    background: rgb(102, 16, 242);
}

/*text decoration*/
h1{
    text-align: center;
    color: rgb(157, 162, 171);
    text-decoration: none;
    font-family: "AstroSpace", serif; 
}
p{
    text-align: center;
    color: rgb(157, 162, 171);
    text-decoration: none;
    font-family: "AstroSpace", serif;
}
a{
    text-align: center;
    color: rgb(157, 162, 171);
    text-decoration: none;
    font-family: "AstroSpace", serif;
    font-size: 20px;
}
address{
    text-align: center;
    color: rgb(157, 162, 171);
    text-decoration: none;
    font-family: "AstroSpace", serif;
}
.home{
    font-size: 30px;
}
.increase{
    font-size: 20px;
}
.sp{
    font-size: 25px;
}

/*border*/
#border{
    border: solid rgb(120, 255, 214) 2px;
    height: 335px;
}

/*Form*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Montserrat";
  }
  .form {
    height: 100vh;
    width: 100%;
    background-image: url("Media/greyg.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color:  #F8F8F8;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
  }
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(17, 16, 16, 0.342);
    margin-top: 5px;
  }

  textarea {
    resize: vertical;
  }
  button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    font-family: "Montserrat";
    color: rgb(243, 247, 252);
    text-align: center;
    background-color: rgb(101, 103, 104);
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease background-color;
  }
  button[type="submit"]:hover {
    background-color: black;
  }
  #status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
  }
  #status.success {
    background-color: rgb(190, 255, 92);
    animation: status 4s ease forwards;
  }
  #status.error {
    background-color: rgb(128, 33, 5);
    color: white;
    animation: status 4s ease forwards;
  }
  @keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }

/*button*/
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color:  rgb(157, 162, 171);
    text-align: center;
}



/*img*/
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    background-color: rgb(102, 16, 242);
}
